<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- Bluetooh Usage Descriptions -->
        <key>NSBluetoothAlwaysUsageDescription</key>
        <string>Used to find SOS signals during emergencies.</string>
        <key>NSBluetoothPeripheralUsageDescription</key>
        <string>Used to signal SOS during emergencies.</string>

        <!-- Motion Usage Descriptions -->
        <key>NSMotionUsageDescription</key>
        <string>Used to detect disasters which affected the user.</string>

        <!-- Location Usage Descriptions -->
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>Used to enable the sensors for disaster detection in the foreground.</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>Used to enable the sensors for disaster detection in the background.</string>

        <!-- Background modes -->
        <key>UIBackgroundModes</key>
        <array>
            <!-- Used by the SOS beacon -->
            <string>bluetooth-peripheral</string>
            <!-- Used by the siren player -->
            <string>audio</string>
            <!-- Used by disaster detector -->
            <string>location</string>
            <!-- Used for scheduled notifications -->
            <string>remote-notification</string>
        </array>

        <!-- URL Scheme for Deep Links -->
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>com.nizarmah.igatha</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>igatha</string>
                </array>
            </dict>
        </array>

        <!-- Compliance -->
        <key>ITSAppUsesNonExemptEncryption</key>
        <false/>
        <key>LSMinimumSystemVersion</key>
        <string>13.0.0</string>
    </dict>
</plist>
